.date-color {
  color: #3880ff;
}

.sent-notification-color {
  color: #16dc1e;
}

.not-sent-notification-color {
  color: #dd186b;
}

.elements-color {
  color: #7431dd;
}

.message-titles {
  color: #484d54;
}

.title {
  text-align: center
}
