.logo-img
{
  width: 70%;
  height: 70%;
  display:block;
  margin:auto;
}


ion-content {
  //--background: #4C7FA4;
  --background: #1e2023;
}

ion-toolbar {
  //--background: #4C7FA4;
  --background: #000000;
}


ion-datetime {
  color: red;
}


.custom-loading {
 background-color: #0ec254;
  --spinner-color: red;
}
